.features .title{
        @media screen and (max-width: 767px) {
            text-align: center;
        }
}

.feature-list {
    @media screen and (min-width: 768px) {
      display: flex;
      margin: -15px;
    }
  
    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
    }
}

.feature-item{
    &:before{
        content: '';
        display: block;
        height: 120px;
        width: 100%;
        background-color: $btn2-color;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px 70px;
        margin-bottom: 30px;
        border-radius: 4px;
    }
    
    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    
        @media screen and (min-width: 768px) {
            flex-basis: calc(100% / 2 - 30px);
            margin: 15px;
        }
}


.icon-antenna::before{
    background-image: url(../images/icons/antenna.svg);
}

.icon-astronaut::before{
    background-image: url(../images/icons/astronaut.svg);
}

.icon-clock::before{
    background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before{
    background-image: url(../images/icons/diagram.svg);
}

// desktop

// .features .feature-item{
//     width: 270px;
// }

// .feature-list{
//     display: flex;
// }

// .feature-item{

//     &:not(:last-child) {
//     margin-right: 30px;
//     }

//     &:before{
//         content: '';
//         display: block;
//         height: 120px;
//         width: 270px;
//         background-color: $btn2-color;
//         background-repeat: no-repeat;
//         background-position: center;
//         background-size: 70px 70px;
//         margin-bottom: 30px;
//         border-radius: 4px;
//     }
// }