.features p,
.features li,
.features h3{
    margin-top: 0;
    margin-bottom: 0;
}


.features .title,
.projects-list .title,
.team .title{
    margin-top: 0;
    margin-bottom: 10px;
    color: $prime-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features .feature-item{
    width: 270px;
}

.feature-list{
    display: flex;
}

.feature-item{

    &:not(:last-child) {
    margin-right: 30px;
    }

    &:before{
        content: '';
        display: block;
        height: 120px;
        width: 270px;
        background-color: $btn2-color;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px 70px;
        margin-bottom: 30px;
        border-radius: 4px;
    }
}


.icon-antenna::before{
    background-image: url(../images/icons/antenna.svg);
}

.icon-astronaut::before{
    background-image: url(../images/icons/astronaut.svg);
}

.icon-clock::before{
    background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before{
    background-image: url(../images/icons/diagram.svg);
}